<div class="title">
  <h1>
    Lista de productos
  </h1>
</div>

<form class="form-horizontal">


  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Filtrar Jean</label>
    <div class="col-md-4">
      <input id="textinput" (keyup)="filterProducto()" [(ngModel)]="nameFilter" name="textinput" type="text" placeholder="Nombre del estilo Jean que busca"
        class="form-control input-md">
    </div>
  </div>

</form>


<!--<div class="container">
<table *ngIf="Products" class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Valor Unitario</th>
      <th>Imagen</th>
      <th>Cantidad</th>
      <th>Provedor Id</th>
      <th>Marca Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of Products">
      <td>{{product.producto_id}}</td>
      <td>{{product.producto_nombre}}</td>
      <td>{{product.producto_descrip}}</td>
      <td>$ {{product.producto_vunitario | number}}</td>
      <td> {{product.producto_imagen}}</td>
      <td>{{product.producto_cantidad | number}}</td>
      <td>{{product.producto_proveedor_id}}</td>
      <td>{{product.producto_marca_id}}</td>
    </tr>
  </tbody>
</table>
</div>-->
<!--<pre >
  {{Products | json}}
</pre>-->

<div class="container">
  <masonry>

    <masonry-brick *ngFor="let product of _Products">

      <div class="producto_box mt-4">
        <div class="card">
          <img class="card-img-top" [src]="'http://jeanbd.jgaval.co/public/'+product.producto_imagen">
          <div class="card-block">
            <figure class="profile">
              <img [src]="'http://jeanbd.jgaval.co/public/'+product.producto_imagen" class="profile-avatar" alt="">
            </figure>
            <h4 class="card-title mt-3">{{product.producto_nombre}} <a [routerLink]="['/actualizar-producto']" [queryParams]="product">Editar</a></h4>
          </div>
        </div>
      </div>
      <!-- <img [src]="'http://jeanbd.jgaval.co/public/'+product.producto_imagen" [alt]="">-->



    </masonry-brick>

    <div *ngIf="_Products && _Products.length == 0">
      <h3>No hay Jeans con este filtro</h3>
    </div>
  </masonry>

</div>